<!DOCTYPE html>
<html lang="en">
<head>
  <title>GCS Admin Interface</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <!--script type="text/javascript" src="C:/Users/DELL/Desktop/test.json"></script>
  <script type="text/javascript" src="../public/javascripts/dynamic.js"></script-->

</head>
<script>
  function post_it(){
    var list1=document.getElementById("add");
    var new_elem = document.createElement("li");
    new_elem.innerHTML = document.getElementById("announcements").value;
    list1.appendChild(new_elem);
  }
</script>
<body>
<div class="container">
  <h1>Scenes Information</h1><p>Total scenes:<%=(scenes_details).length%></p>The scenes are:<ul><%for(var i=0; i<(scenes_details).length; i++){%>
<li><%=(scenes_details[i]).name%></li><%}%></ul><h1 style="text-align:center;">Current Scene:<%=currentScene%></h1></div>
<div class="container">
  <h2>Control Options</h2>
  <button type="button" class="btn" id="start" onclick="location.href='/start'"><%=StreamingStatus%></button>
  <button type="button" class="btn btn-warning" onclick="location.href='/stop'">Stop Streaming</button>
  <% for(var i=0; i<(scenes_details).length; i++) {%>
            <button type="button" class=" btn btn-success" onclick="location.href='/scenes/<%= scenes_details[i].name %>'">Switch to <%= scenes_details[i].name %></button>&nbsp;&nbsp;             
<% } %>
  <button type="button" class="btn btn-info" onclick="location.href='/counter'">Display Claps</button>  
  <button type ="button" class ="btn btn-primary" id="mute" onclick="location.href='/mute'">Mute Claps</button>
  <br>
  Enter the number of speaker:
  <form id="updatetalks" method="POST" action="/updatetalks">
   <input type="number" id="count1" name="count1" placeholder="Enter Count"/><br>
  <button  class="btn btn-danger" name="update">Update Upcoming talks</button>
</form>
</div>
<div  class="container">Post ammouncements: 
  <form id="post_announcements" method="POST" action="/post">
    <input type="text" id="announcements" name="announcements" placeholder="Announcements" ><br>
  <button class="btn btn-warning" name="Post" onclick ="post_it()">Post</button></form>
  <button class="btn btn-danger" name="remove" onclick="location.href='/remove'">Remove</button></div>
</body>
</html>
